:root{
    --primary-color:#ffd000;
    --secondary-color:#020202;
    --dark-color:#292929;
    --white-color:#dff3e4;
    --fizz-color: #1f77b8;
}
    body{
        color:var(--dark-color);
    }

    nav{
        text: color:var(--fizz-color);
    }
   
    
    main{
        background-color: var(--fizz-color);
        justify-content: end;
    }

    footer{background-color:var(--dark-color);
    }

    h1,h2,h3,h4,h5,h6{
        color:var(--primary-color);
    }
    
    nav a:hover{

        background-color:var(--primary-color) !important;


      }





main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}
.sticky-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-right: 1rem;
}

footer .social>a {
    color:var(--white-color);
    opacity: 0.75;
}
footer .social>a:hover{
    opacity: 0.90;
    color:var(--primary-color)
}

.bsicon{
    color:purple;
}

.jsicon{
    color:rgb(207, 220, 14);
}
.html5{
    color:orangered;
}
.cssicon{
    color:rgb(14, 83, 210)
}

.checklist >li i{
    color:var(--secondary-color)
}

code[class*="language-"],
pre[class*="language-"] {
white-space: pre-wrap;
word-break: break-all;
word-wrap: break-word;
}



.bgcolor{
    color: #f8f8ff;
}
a.btn:hover{
    background: var(--primary-color);
}